html,
body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.navbar-brand {
  letter-spacing: 2px;
  word-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
}

/* xs */
.carousel-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* sm */
@media (min-width: 768px) {
  .carousel-img {
    width: 100%;
    height: 400px;
  }
}

.card {
  background-color: unset;
  background-clip: unset;
  border: none;
}

img:hover {
  filter: brightness(50%);
  transform: scale(1.05);
  transition: all 0.4s;
}

#icon {
  width: 27px;
  height: 9px;
  background: linear-gradient(96.34deg, #e537b9 0%, #c040df 100%);
  border-radius: 4.5px;
}

.btn-link {
  width: 100%;
  position: relative;
  text-align: left;
  opacity: 0.7;
  font-weight: bold;
  color: unset;
  text-decoration: none;
}

.btn-link::before {
  content: "\f107";
  color: #737373;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  font-family: "FontAwesome";
  font-size: 1.1rem;
}

.btn-link[aria-expanded="true"]::before {
  content: "\f106";
  color: #737373;
}

.btn {
  display: flex;
  padding: 0px;
  text-align: start;
  border: none;
  margin: 10px;
  padding-left: 18px;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: unset;
}