.navbar{
    position: relative;
    height:3rem;
}
.rectangle{
   
width: 1.7rem;
height: 0.5rem;
left:2rem;
top:0.6rem;

background: linear-gradient(96.34deg, #E537B9 0%, #C040DF 100%);
border-radius: 4.5px;
}
.h1{
top:1rem;
left:2rem;
font-family: Montserrat;
font-style: normal;
font-size:1.5rem;
line-height:1.5rem;
/* or 104% */

letter-spacing: 2px;

/* Text/text-gray-dark */

color: #292B2E;
} 
.card{
    text-decoration: none;
    color:black;
}
a:hover {
    color:black;
  }

